.body{
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(174, 174, 174);
    padding-top: 6em;
}
.first_container{
    justify-items: center;
    text-align: center;
    padding: 10px;
}
.page_title{
    font-family: 'IBM Plex Sans';
    font-size: large;
    font-size: 50px;
    font-weight: 600;
    padding-top: 0;
    color: rgb(146, 114, 75);
    padding-bottom: 20px;
}
.text_container{
    text-align: left;
}
.text_container .title{
    font-family: 'IBM Plex Sans';
    font-size: large;
    font-size: 40px;
    font-weight: 500;
    padding-top: 0;
    color: rgb(146, 114, 75);
    padding-bottom: 20px;
}
.text_container .subtitle{
    font-family: 'IBM Plex Sans';
    font-size: large;
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
    padding-left: 50px;

}
.text_container .description{
    font-family: 'IBM Plex Sans';
    font-size: 15px;
    font-weight: 300;
    padding-top: 20px;
    padding-left: 10px;
}
.button{
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
    cursor: pointer;
    color: rgb(113, 89, 89);
    margin-left: 60%;
    padding: 20px;
    margin-top: 10px;
    border-radius: 30px;
    width: fit-content;
    background-color: rgb(146, 114, 75);
    right: 10px;
    text-align: center;
}
.button:hover{
    background-color: rgba(146, 114, 75, 0.758);
}