.nav_body {
    width: 100vw;
    height: 120px;
    position: fixed;
    // background-color: var('--color');
    background-color: rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.icon_picture{
    padding: 40px;
}
.nav_items{
    position: absolute;
    display: flex;
    width: fit-content;
    right: 60px;
    gap: 40px;
    font-size: larger;
    // color: white;
    font-weight: 500;
    font-family: 'IBM Plex Sans';
}


.nav_item{
    cursor: pointer;   
}
.nav_curr{
    cursor: pointer;
    color: gray;
}
.nav_item:hover{
    opacity: 0.5;
}
.nav_item_name:hover{ 
    box-shadow: 0px -2px 0px black inset;
}
