.main_container{
    padding: 10px;
}
.name_of_text{
    display: flex;
    cursor: pointer;
    padding: 10px;
}
.name{
    width: 200px;
}
.name_of_text:hover{
    opacity: 0.6;
}
.arrow{
    margin-left: 50px;
}
.data{
    font-family: 'IBM Plex Sans';
    font-size: medium;
    font-weight: 300;
}